.contentTable {
  display: flex;
  flex-direction: column;

  justify-content: space-around;
}
.contentTable__table {
  background-color: rgba(245, 245, 245, 0.8) !important;
  border: 1px solid black !important;
  border-radius: 15px;
}

.contentTable__table > tbody > tr > td {
  border-right: 1px solid black;
  padding: 0px 15px;
}

.contentTable__table > thead > tr > th {
  padding: 0px 15px;
  border-right: 1px solid black;
  border-top: 1px solid black;
}

.contentTable__rowHeader {
  width: 250px;
}

.contentTable__tableHeader {
  background-color: rgba(235, 235, 235, 1);
}

.contentTable__table > tbody > tr {
  border-top: 1px solid lightgray;
}

.contentTable__table > tbody > tr:hover {
  background-color: rgba(235, 235, 235, 0.5);
}

th {
  border-bottom: 1px solid gray !important;
}
