.home {
  padding-top: 20px;
}

.home__filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 30px;
}

.home__filterButtons > button {
  margin: 0px 10px;
  border-radius: 999px;
  outline: 0;
}

.home__filterDate > h6 {
  margin: 0px;
  margin-right: 10px;
}

.home__filterDate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  margin-bottom: 5px;
}

@media only screen and (max-width: 500px) {
  .home__filterButtons {
    margin-bottom: 20px;
  }
  .home__filterDate {
    align-items: flex-start;
    flex-direction: column;
  }
}
